*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}

section{
    width: 1600px;
    height: 913px;
    margin: 100px auto;
}
h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.menu ul li{
    float: left;
    padding: 20px 30px 20px 0;
    font-weight: bold;
    font-size: 20px;
}
.menu ul li .main{color: black;}
.menu ul li a{
    color: #d4d4d4;
}